*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

#scrollUp {
    position: fixed;
    bottom: 50px;
    right: 50px;

    display: none;
    background-color: grey;
    padding: 10px;

    cursor: pointer;
}

.path-menu {
    margin: 0;
    padding: 0;
}

.path-menu-ul {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #313131;
    height: 70px;
}

.path-item {
    text-transform: uppercase;
}

.base {
    font-family: Open Sans;
    max-width: 1900px;
    background-color: #F2F2F2;
}

.header__top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #313131;
    height: 70px;
}

.header-logo {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 22px;
}

.logo__item{
    padding: 20px;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.navbar__item {
    margin: 35px;
    text-transform: uppercase;
}
.navbar__item :hover {
    color: #14B9D5;
}

.header__search-button {
    background-color: #000000;
    padding: 25px;
}

.header__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1900px;

    color: #FFFFFF;
    height: 370px;

	background-image: url("../img/background1.jpeg");
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
}

.heading {
    text-transform: uppercase;
    font-size: 27px;
}

.heading__buttons {
   display: flex; 
}

.heading__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    width: 170px;
    height: 55px; 

    border-radius: 5px;
}

.subscribe {
    background-color: #89CA62;
}

.best-articles {
    background-color: #14B9D5;
}

#hideHeader {
    display: block;

    margin: 20px auto;
}

.posts {
    margin-left: 370px;
    margin-right: 360px;
}

.posts__header {
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
}

.posts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
}

.posts_item {
    margin: 15px;
    background-color: #FFFFFF;
}


.posts__text {
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    font-weight: bold;
}

.clients {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    justify-content: center;

    width: 1900px;
    height: 588px;

    background-image: url("../img/background2.jpeg");
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
}

.clients__header {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}

.clients__line{
    background-color: #18B4CF;
    height: 3px;
    width: 60px;
}

.clients__list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clients__item {
    margin: 0 25px;
}

.top-rated__header{
    margin: 50px 0;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;
}

.top-rated__pictures {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news {
    background-color: rgba(0, 0, 0, 0.0001);
    margin-left: 370px;
    margin-right: 360px;
    margin-bottom: 75px;
}

.hot-news__header {
    margin: 50px 0;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;
}

.news-topics {
    display: grid;
    grid-template-areas: 
    "emirate emirate emirate nebula"
    "egypt egypt maldives maldives"
    "tenerife tenerife britain britain"
    "ireland spain spain spain";

    grid-gap: 15px 30px;

    width: 1170px;
    margin: 0 auto;

}

.news-item {
    background-color: #F9F7F7;
}

.news-name {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.news-text {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.emirate {
    display: grid;
    grid-template-areas: 
    "emirate__image emirate__header"
    "emirate__image emirate__text";
}

.spain {
    display: grid;
    grid-template-areas: 
    "spain__image spain__header"
    "spain__image spain__text";
}

.spain__image {
    grid-area: spain__image;
}

.spain__header {
    grid-area: spain__header;
}

.spain__text {
    grid-area: spain__text;
}

.emirate__image {
    grid-area: emirate__image;
}

.emirate__header {
    grid-area: emirate__header;
}

.emirate__text {
    grid-area: emirate__text;
}

.nebula > h4, .ireland > h4 {
    text-align: center;
}

.egypt, .maldives, .tenerife, .britain {
    width: 554px
}

.nebula, .ireland {
    width: 277px;
    height: 259px;
}

.emirate {
    grid-area: emirate;
}

.nebula {
    grid-area: nebula;
}

.egypt {
    grid-area: egypt;
}

.maldives {
    grid-area: maldives;
}

.tenerife {
    grid-area: tenerife;
}

.britain {
    grid-area: britain;
}

.ireland {
    grid-area: ireland;
}

.spain {
    grid-area: spain;
}

.hot-news h4, p {
    padding: 10px;
    margin: 0;
}

.end {
    height: 80px;
    background-color: #000000;

    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
}

.rights {
    font-size: 13px;
    color: #FFFFFF;

    text-align: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.lioit {
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
}